<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1" />
    <title>Welcome Home Demo</title>
    <meta name="robots" content="noindex,nofollow" />
</head>

<body>
    <h1>Welcome Home</h1>
    <p>
        Positive customer experience in onboarding reflects on your brand and can drive high value referral from a customer's closest
        network. So when a new customer signs up it is important that you put your best foot forward to welcome them. In
        this demo we show how you can use
        <a href="https://mailchimp.com">MailChimp</a>, a best-in-class marketing automation tool, to drive your welcome pack experience. This opens up potential
        for sending people on different welcome journeys depending on how they came to be a customer, A/B testing options
        to drive further engagement, and all of the great features you expect from marketing automation.
    </p>
    <p>For more information on this demo see the
        <a href="https://github.com/gentrack/platform-demo-welcome-home">source repository</a>.</p>
</body>

</html>